.item-list {
  .item {
    .item-link {
      color: rgb(19, 17, 17);
    }
  }
}

.footer-icon-list {
  border-top: 0.5px solid grey;
  width: 31%;
  .icon-1 {
    border-radius: 5px;
    background-color: rgb(14, 42, 165);
  }
  .icon-2 {
    border-radius: 5px;
    background-color: rgb(33, 182, 65);
  }
  .icon-3 {
    border-radius: 5px;
    background-color: rgb(192, 30, 30);
  }
  .icon-4 {
    border-radius: 5px;
    background-color: rgb(165, 113, 17);
  }
  .icon-5 {
    border-radius: 5px;
    background-color: rgb(241, 230, 209);
  }
  .fa {
    color: #ffff;
  }
}

.footer-comment {
  width: 200px;
  height: 70px;
  font-size: map-get($map: $font-size, $key: mg);
  padding: 10px;
}

.footer-title {
  font-size: map-get($map: $font-size, $key: font-xl);
}

.footer-text {
  line-height: 1.3;
}

.item-list {
  .item {
    padding-top: 5px;
    padding-bottom: 5px;
  }
}
